fieldset
{
  
  max-width:500px;
  padding:16px;	  
}



.fieldset-frame{
  border-radius: 25px;
  margin-bottom: 1em;
  border: 3px solid #4f0099;
  border-right: 3px solid #4f0099;
  border-bottom: 3px solid #4f0099;
}

.button {
  transition-duration: 0.4s;
  background-color: #d6d6f5; 
}

.button:hover {
  background-color: #6f6fdc; 
  color: #d6d6f5;
}

.generator {
	display: block;
	position: absolute;
	top: 300px;
	bottom: 200px;
	left: 500px;
	right: 500px;
	margin: 300px;
}
